<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/header", form: f %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-wrapper bg-white my-3">
    <div class="input-group py-2 photo-upload">
      <%= material_icon.shape(:account_circle).outlined.md_48.css_class('text-4') %>
      <%= f.text_field :photo, placeholder: 'Upload a picture', class: 'mx-2' %>
    </div>

    <div class="input-group py-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
    </div>

    <div class="input-group py-2">
      <%= f.text_field :name, autocomplete: "name", placeholder: 'Full Name' %>
    </div>


    <div class="input-group py-2 flex-column">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'New Password' %>
    </div>

    <div class="input-group py-2">
      <%= f.password_field :current_password, placeholder: 'Current Password' %>
    </div>
  </div>
<% end %>

<div class="d-flex align-items-center justify-content-center">
  <%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-outline-danger' %>
</div>
