<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/header", form: f %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-wrapper bg-white my-3">

    <div class="input-group py-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
    </div>

  </div>
  
<% end %>

<%= render "devise/shared/links" %>
